#__next .container-fluid .nav-link {
  color: black;
  font-size: larger;
  font-weight: 500;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-right: var(--bs-breadcrumb-item-padding-x);
  content: var(--bs-breadcrumb-divider, ">");
  font-weight: 500;
  font-size: large;
  color: black;
}

.breadcrumb-item > a {
  color: black;
  font-size: large;
  font-weight: 300;
  text-decoration: none;
}
#__next .container-fluid .searchButton {
  background-color: transparent;
  color: black;
  border: 0px;
  font-size: larger;
  font-weight: 700;
}

#__next .container-fluid .navbar-toggler {
  border: 0px;
}

/*MEDIA QUERIES FOR RESPONSIVENESS*/
@media screen and (max-width: 991px) {
  .Laptop {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .Mobile {
    display: none;
  }
}
